@import '../../sass/global_imports.scss';

.projects {
  background-color: $secondary;

  .projectsWrapper {

    @include Responsive(smartphone-landscape){
      text-align: center;
    }

    .title{
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 20px;
      color: $quaternary;
    }
    .description{
      font-size: 1.75rem;
      font-weight: bold;
      margin-bottom: 50px;

      svg{
        margin-bottom: -5px;
        font-size: 2rem;
        color: blue;
      }
    }
    .projectCards{
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
  }
}
